<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Đăng ký DevExpress Config -->
    <section name="devExpress" type="DevExpress.Utils.Config.DevExpressConfigurationSection, DevExpress.Utils.v10.2"/>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!-- Cấu hình DevExpress -->
  <devExpress>
    <assembly private="true"/>
  </devExpress>

  <!-- Bổ sung phần runtime để ánh xạ đúng phiên bản -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Patch.Common" publicKeyToken="7fc7bfca2443de66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v10.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.2.4.0" newVersion="10.2.4.0" />
      </dependentAssembly>
      <!-- Có thể cần bổ sung thêm dependentAssembly nếu có nhiều thành phần khác của DevExpress -->
    </assemblyBinding>
  </runtime>
</configuration>
